<mat-toolbar color="primary">
    <span class="logo">
      <mat-icon>logo_dev</mat-icon>
    </span>
    <span class="spacer"></span>
    <div style="width: 50%; height: 10%;">
        <mat-form-field appearance="outline">
            <mat-icon matPrefix>search</mat-icon>
          <mat-label>Search</mat-label>
          <input matInput type="text">
        </mat-form-field>
    </div>
    <span class="spacer"></span>
    <span class="user-email">{{email}}</span>
    <button mat-icon-button aria-label="User profile" (click)="logout()">
      <mat-icon>account_circle</mat-icon>
    </button>
  </mat-toolbar>
  