.login {
    margin: auto;
    width: 30%;
    height: 50%;
    top: 20%;
    text-align: center;
    mat-card-content {
        display: flex;
        flex-direction: column;
        margin-top: 10%;
        .buttons{
            display: flex;
            justify-content: space-evenly;
            margin-top: 5%;
            *{
                width: 40%;
            }
        }
    }
}